[submodule "a/algorithms_java"]
	path = a/algorithms_java
	url = https://github.com/TheAlgorithms/Java.git
[submodule "notes"]
	path = notes
	url = https://github.com/KamranMaharov/submodule_test_repo.git
